body {
    background: #E4E4E4;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

h1 {
    color: #0288D1;
    font-size: 1.5em;
}

h2 {
    margin-bottom: 4px;
    font-size: 1.17em;
}

.sidebar {
    color: #e7e9fd;
    background: #FFFFFF;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.26);
    border-radius: 5px;
    margin-top: 20px;
    overflow: hidden;
}
.sidebar p {
    padding: 0 10px 0 10px;
    margin: 0px
}
.sidebar img {
    width: 100%;
    height: auto;
}
.card {
    background: #FFFFFF;
    padding: 25px;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.26);
}
.card-header {
    text-align: center;
    letter-spacing: 2px;
    padding-top: 0;
    margin-top: 0;
}
section.card {
    margin-top: 15px;
    margin-bottom: 5px;
}

.right {
    float: right;
}

@media(max-width: 700px ) {
    .sidebar {
        margin: 0;
        padding: 0;
        border-radius: 0;
    }
    .sidebar p {
        padding-left: 10%;
        padding-right: 10%;
    }
    section.card {
        margin: 0;
    }
    .container {
        padding: 0;
        margin: 0;
    }
}
