<!DOCTYPE html>
<html>
<head lang="en">
    <title>Mikel Severson's Resume</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="assets/styles/stylesheet.css">
</head>
<body>
    <section class="sidebar">
        <img src="assets/images/mikel.jpg" alt="Picture of Mikel Severson">
            <p>
                Goal-oriented student with a passion for learning and creating. Strongly believes technology directly improves
                lives and determined to develop software to have a positive impact on others.
            </p>
        <hr>
    </section>

    <section class="card-container">

        <article class="card">
            <h1>Education</h1>
            <h2>Prime Digital Academy
                <aside class="right">2015 - 2015</aside>
            </h2>
            <h2>Normandale Community College
                <aside class="right">2013 - 2014</aside>
            </h2>
            <h2>Eden Prairie High School
                <aside class="right">2008 - 2013</aside>
            </h2>
        </article>

        <article class="card">
            <h1>Work Experience</h1>

            <h2>Best Buy
                <aside class="right">2014 - 2015</aside>
            </h2>
            Sales Associate<br>
            Engage customers using selling skills to build complex, connected solutions and inspire by demonstrating value
            of new technologies.
            Ensure a professional experience by maintaining stock, providing a clean environment, and actively looking to
            meet customers needs.
            Communicate the benefit of complex software in easy-to-understand terms.

            <h2>Embassy Suites Hotel
                <aside class="right">2012 - 2013</aside>
            </h2>
            Banquet Server<br>

            Small team required teamwork and communication to be a priority to ensure that the event was prepared
            efficiently.
            Prepared banquet rooms as per instructions of the event coordinator, ensure consistency of preparation and
            presentation of food.
            Ensured customers needs were met as well as ensured a clean environment throughout the event.
            Anticipated guests' needs and fulfilled them appropriately.</p>
        </article>

        <article class="card">
            <h1>Skills</h1>
            <h2>MEAN Stack</h2>
            <ul>
                <li>MongoDB</li>
                <li>Express</li>
                <li>AngularJS</li>
                <li>Node.js</li>
            </ul>
            <h2>Javascript</h2>
            <h2>Bootstrap</h2>
            <h2>Java</h2>
            Skilled in basic programming functions including class inheritances, loops, stacks, linked lists, and
            sorting techniques. Able to quickly understand how complex code interacts and able to modify or implement code within these
            systems.
            <h2>Google AdWords</h2>
            Received separate certifications for fundamental and advanced aspects of AdWords.
            Proficient with AdWords editor for managing AdWords campaigns efficiently.
        </article>
    </section>
</body>
</html>