<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Mikel Severson's Portfolio</title>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Mikel Severson's website, including portfolio of work, blog, and more to be determined.">
  <meta name="author" content="Mikel Severson" />
  <meta name="theme-color" content="#0288D1">
  <link rel="stylesheet" type="text/css" href="styles/stylesheet.css">
  <link rel="icon" type="image/png" href="images/favicon.ico">
</head>

<body>
  <div class="sidebar">
    <section class="header">
        <h1>Mikel Severson</h1>
    </section>
    <br />
    <br />
    <section class="nav">
      <a href="#" title="Home">Home</a><br />
        <!-- <a href="#" title="Blog">Blog</a><br /> -->
        <a href="#" title="portfolio">Portfolio</a><br />
        <a href="#" title="About Me">About Me</a>
    </section>
    <br />
    <br />
    <section class="social-media">
        <a href="https://www.linkedin.com/in/mikelseverson" data-toggle="tooltip" title="LinkedIn">
            <img class="social-media-icon" src="images/linkedin.png" alt="linkedin"></a>
        <a href="http://www.twitter.com/mksev" data-toggle="tooltip" title="Twitter">
            <img class="social-media-icon" src="images/twitter.png" alt="Twitter"></a>
        <a href="http://www.github.com/mikelseverson" data-toggle="tooltip" title="Github">
            <img class="social-media-icon" src="images/github.png" alt="github"></a>
    </section>
  </div>
  <div class="main">
      <section class="content-section">
          <section class="card featured clearfix">
              <div class="featured-text" style="padding:10px 30px;">
                <h1>Hi I'm Mikel,</h1>
                <hr style="margin: 8px;"/>
                <p>My goal is to help businesses integrate cutting edge technologies to increase customer engagement, improve workflows, and find new ways to provide value to customers. </p>
                <p>Web Application Developer, Inbound Marketer, and Entrepreneur.</p>
              </div>
          </section>
        </section>
        <section class="content-section section-2">
            <section class="card featured clearfix">
                <div class="featured-text" style="padding:10px 30px;">
                  <h1>Hi I'm Mikel,</h1>
                  <hr style="margin: 8px;"/>
                  <p>My goal is to help businesses integrate cutting edge technologies to increase customer engagement, improve workflows, and find new ways to provide value to customers. </p>
                  <p>Web Application Developer, Inbound Marketer, and Entrepreneur.</p>
                </div>
            </section>
          </section>
          <section class="content-section">
              <section class="card featured clearfix">
                  <div class="featured-text" style="padding:10px 30px;">
                    <h1>Hi I'm Mikel,</h1>
                    <hr style="margin: 8px;"/>
                    <p>My goal is to help businesses integrate cutting edge technologies to increase customer engagement, improve workflows, and find new ways to provide value to customers. </p>
                    <p>Web Application Developer, Inbound Marketer, and Entrepreneur.</p>
                  </div>
              </section>
            </section>
  </div>

  <script src="scripts/app.js"></script>
</body>

</html>
